@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Open Sans", sans-serif;
$fontSize: 20;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1920;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #232323;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	padding-left: 19.08vw;
	padding-right: 19.08vw;
	.ie & {
		width: 100vw;
	}
	@media (max-width: 1200px) {
		padding-left: 25px;
		padding-right: 25px;
	}
	@media (max-width: $md4+px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "popup";
@import "header";
@import "footer";
@import "home";
@import "news";
@import "service";
@import "production";
@import "product-single";
@import "contacts";
@import "career";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	&--1 {
		padding-top: 272px;
		@include adaptiv-value("padding-top", 255, 122, 1);
		@media (min-width: 1201px) {
			@include adaptiv-value("padding-top", 255, 70, 1);
		}
	}
	&--2 {
		padding-top: 240px;
		@include adaptiv-value("padding-top", 240, 122, 1);
		@media (min-width: 1201px) {
			@include adaptiv-value("padding-top", 240, 70, 1);
		}
	}
	&__body {
		display: flex;
		@media (max-width: $md2+px) {
			flex-wrap: wrap;
		}
	}
	&__content {
		width: 100%;
	}
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
