//<ОСНОВНОЙ БЛОК>====================================================================================================
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.fade-in {
	animation: fadeIn ease 1s;
}

#primary-block {
	flex: 1 1 auto;
}
#secondary-block {
	flex: 0 0 354px;
	margin: 0px 0 0px 44px;
	overflow: hidden;
	@media (min-width: 1201px) {
		@include adaptiv-value("flex-basis", 354, 125, 1);
		@include adaptiv-value("margin-left", 44, -20, 0);
	}
	@media (min-width: $md2+px) and(max-width: 1200px) {
		flex: 0 0 300px;
		margin: 0px 0 0px 20px;
	}
	@media (max-width: $md2+px) {
		flex: 0 0 100%;
		order: -1;
		margin-left: 0;
	}
	&.sidebar--left {
		order: -1;
		margin: 0px 44px 0px 0px;
		@media (min-width: 1201px) {
			@include adaptiv-value("margin-right", 44, -20, 0);
		}
		@media (min-width: $md2+px) and(max-width: 1200px) {
			margin: 0px 20px 0px;
		}
		@media (max-width: $md2+px) {
			margin-right: 0;
		}
	}
}

/* Slider */
#lottie {
	background-color: #fff;
	width: 100%;
	display: block;

	transform: translate3d(0, 0, 0);
	text-align: center;
	opacity: 1;
	position: relative;
	z-index: -1;
}

// svg {
// 	height: auto !important;
// }

.title {
	color: #232323;
	font-family: "Open Sans";
	font-size: 63px;
	font-weight: 700;
	line-height: 74 / 63 * 100%;
	@include adaptiv-value("font-size", 63, 32, 1);
	@include adaptiv-value-to("font-size", 58, 42, 1201);
	&--white {
		color: #fff;
	}
	@media (max-width: $md3+px) {
		@include adaptiv-value("font-size", 48, 32, 1);
	}
}

.title_2 {
	font-size: 36px;
	font-weight: 700;
	line-height: 47 / 36 * 100%;
	@include adaptiv-value("font-size", 36, 26, 1);
}
.title_3 {
	color: #232323;
	font-size: 42px;
	font-weight: 700;
	line-height: 59 / 42 * 100%;
	@include adaptiv-value("font-size", 42, 24, 1);
}
.bgr-white {
	background: #fff;
}
.bgr-gray {
	background: #ebeef3;
}
.bgr-blue {
	background: #2460b3;
}
.bgr-light-blue {
	background: #19a5df;
}

/*links-info*/
.links-info {
	flex: 0 0 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0px 0px 78px 0px;
	@include adaptiv-value("margin-bottom", 78, 24, 0);
	li {
		flex: 0 0 47.6%;
		margin: 0px 0px 62px 0px;
		@media (max-width: $md3+px) {
			@include adaptiv-value("margin-bottom", 62, 35, 0);
			flex: 0 0 100%;
		}
	}
	// .links-info__title
	&__title {
		display: block;
		margin: 0px 0px 45px 0px;
		@include adaptiv-value("margin-bottom", 45, 5, 1);
		font-size: 20px;
		color: #232323;
		font-weight: 700;
		line-height: 1.5;
		@include adaptiv-value("font-size", 20, 14, 1);
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #19a5df;
				+ .links-info__date::after {
					background-color: #19a5df;
				}
			}
		}
	}
	// .links-info__date
	&__date {
		color: #8b8b8b;
		font-size: 16px;
		line-height: 21/16 * 100%;
		&::after {
			content: "";
			display: block;
			margin: 36px 0px 0px 0px;
			width: 100%;
			height: 2px;
			background: #dadde2;
			transition: background-color 0.3s ease 0s;
		}
	}
}

/*brands*/
.brands {
	display: flex;
	flex-wrap: wrap;
	margin: 0px 0px 84px 0px;
	@include adaptiv-value("margin-bottom", 134, 67, 1);
	li {
		margin: 0px 73px 50px 0px;
		@include adaptiv-value("margin-right", 73, 31, 0);
		@include adaptiv-value("margin-bottom", 50, 30, 0);
		img {
			max-height: 90px;
			@include adaptiv-value("max-height", 90, 48, 1);
		}
	}
}

/* widgets */
.sidebar__body--news {
	.widget {
		padding: 62px 43px 70px;
		margin: 0px 0px 37px 0px;
		@include adaptiv-value("margin-bottom", 37, 15, 1);
		background-color: #ebeef3;
		@media (min-width: 1201px) {
			// padding: 35px 15px 35px;
			@include adaptiv-value("padding-top", 62, 0, 0);
			@include adaptiv-value("padding-bottom", 70, 0, 0);
			@include adaptiv-value("padding-left", 43, 0, 0);
			@include adaptiv-value("padding-right", 43, 0, 0);
		}
		@media (min-width: $md2+px) and(max-width: 1200px) {
			padding: 40px 20px 40px;
			margin: 0px 0px 20px 0px;
		}
		@media (max-width: $md2+px) {
			background: transparent;
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
		&:last-child {
			@media (max-width: $md2+px) {
				margin: 0px 0px 40px 0px;
				@include adaptiv-value("margin-bottom", 55, 30, 1);
			}
		}
		@media (max-width: $md2+px) {
			padding: 30px 26px;
			@include adaptiv-value("margin-bottom", 37, 30, 1);
		}
		@media (max-width: $md3+px) {
			padding: 22px 26px;
		}
		// .widget_categories
		&.widget_categories {
			a {
				display: flex;
				align-items: center;
				line-height: 43 / 17 * 100%;
				&::before {
					content: "";
					display: block;
					flex: 0 0 8px;
					width: 8px;
					height: 12px;
					margin: 0px 13px 0px 0px;
					background: url("../img/icons/right-chevron.png") center no-repeat;
				}
			}
		}
		&_popularity {
			padding-bottom: 13px !important;
			.widget-title {
				@media (min-width: 1201px) {
					margin-bottom: 12px;
				}
			}
			li {
				padding: 36px 0px 32px;
				@include adaptiv-value("padding-top", 36, 15, 1);
				@include adaptiv-value("padding-bottom", 36, 15, 1);
				position: relative;
				&::before {
					content: "";
					position: absolute;
					width: 300%;
					height: 1px;
					top: 0;
					left: -100%;
					background-color: #d5d9df;
				}
			}
		}

		color: #232323;
		font-size: 17px;
		font-weight: 400;
		line-height: 24 / 17 * 100%;
		@include adaptiv-value("font-size", 17, 14, 1);
		@media (min-width: 1201px) {
			@include adaptiv-value("font-size", 17, 10, 1);
		}
		a {
			color: inherit;
			transition: color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					color: #19a5df;
				}
			}
		}
	}
	.widget-title {
		margin: 0px 0px 12px 0px;
		font-size: 22px;
		font-weight: 700;
		line-height: 43 / 22 * 100%;
		@include adaptiv-value("font-size", 22, 17, 1);
		@media (min-width: 1201px) {
			@include adaptiv-value("margin-bottom", 12, 0, 0);
			@include adaptiv-value("font-size", 22, 13, 1);
		}
		@media (min-width: $md2+px) and(max-width: 1200px) {
			margin: 0px 0px 15px 0px;
		}
	}
}

.widget_references {
	padding: 0 !important;
	background: transparent !important;
	margin: 0px 0px 23px 0px !important;
	@media (max-width: $md2+px) {
		margin: 0px 0px 60px 0px !important;
	}
	@media (max-width: $md4+px) {
		margin: 0px 0px 40px 0px !important;
	}
	ul,
	.widget_references__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -7px;
	}
	li,
	.widget_references__items > div {
		margin: 0px 7px 14px;
	}
	a {
		display: inline-block;
		padding: 14px 22px;
		line-height: 1;
		font-size: 13px;
		border: 2px solid #ebeef3;
		transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
		color: #232323;
		@media (any-hover: hover) {
			&:hover {
				color: #19a5df;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				background: #ebeef3;
			}
		}
	}
}

/* Pagination */
.navigation {
	margin-bottom: 139px;
	@include adaptiv-value("margin-bottom", 139, 124, 1);
}
.nav-links {
	display: flex;
}
.page-numbers {
	padding: 12px 13px;
	color: #232323;
	font-size: 18px;
	line-height: 26 / 18 * 100%;
	@media (max-width: $md4+px) {
		padding: 7px 13px;
	}
}
a.page-numbers {
	transition: color 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			color: #19a5df;
		}
	}
}
.page-numbers.current {
	border: 1px solid #19a5df;
	font-weight: 700;
}

/* Styles for editor */
._content {
	img {
		max-width: 100%;
		margin-bottom: 47px;
		@include adaptiv-value("margin-bottom", 47, 35, 0);
	}
	p {
		font-size: 15px;
		line-height: 24 / 15 * 100%;
	}
	p,
	ul,
	ol {
		margin: 0px 0px 45px 0px;
		@include adaptiv-value("margin-bottom", 45, 35, 1);
	}
	ul {
		li {
			padding: 0px 0px 0px 32px;
			background: url("../img/icons/check.png") 0 8px no-repeat;
			background-size: 15px 11px;
		}
	}
	ul,
	ol {
		padding: 0px 0px 0 8px;
		font-size: 15px;
		line-height: 24 / 15 * 100%;
		li {
			margin: 0px 0px 10px 0px;
		}
	}
	h1 {
		font-size: 2em;
		margin-bottom: 0.67em;
		color: #232323;
	}
	h2 {
		font-size: 1.5em;
		margin-bottom: 0.83em;
		color: #232323;
	}
	h3 {
		font-size: 1.17em;
		margin-bottom: 1em;
		color: #232323;
	}
	h4 {
		font-size: 1em;
		margin-bottom: 1.33em;
		color: #232323;
	}
	h5 {
		font-size: 0.83em;
		margin-bottom: 1.67em;
		color: #232323;
	}
	h6 {
		font-size: 0.67em;
		margin-bottom: 2.33em;
		color: #232323;
	}
	&--with_link {
		a {
			color: #969696;
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
._hide {
	display: none !important;
}

//====================================================================================================
._hidden {
	display: none;
}
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
._ibg {
	position: relative;
	> img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}
//====================================================================================================
._video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.videobg {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}
//====================================================================================================
//====================================================================================================
#map {
	background: url("../img/icons/loading.svg") center / 50px no-repeat;
}
//====================================================================================================
//====================================================================================================
._tabs-block {
	display: none;
	&._active {
		display: block;
	}
}
//=====================================================================================================================
//========================================================================================================================================================

//========================================================================================================================================================
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
